body {
	background: #f5f5f5;
	font: 100% sans-serif;
}

/* Generic tags */

a {
	text-decoration: none;
}

/* Generic classes */

.invisible {
	display: none !important;
}

.disabled {
	background: grey;
}

.errored {
	background: #fff0f0;
}

.success {
	background: #e8fff0;
}

pre, textarea {
	tab-size : 4;
	vertical-align: top;
}

textarea {
	border: #888 solid thin;
}

/* Layout */

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.wrapper {
	padding: 0em 0.5em;
	background: #ffffff;
}

/* Concrete elements */

.bar {
	background: #fafafa;
}

.user, .license, .repo {
	vertical-align: middle;
	margin: 0.5em;
	line-height: 2em;
}

.user, .repo {
	text-align: right;
}

.logo {
	width: 2em;
	height: 2em;
	vertical-align: middle;
	image-rendering: pixelated;
	margin: 0.5em;
}

.challenge {
	display: table;
	background-color: #f8f8f8;
	border: #cccccc solid thin;
	padding: 0 0.5em;
	margin: 0.3em;
}

.loader {
	max-height: 1em;
	max-width: 1em;
}

.solution {
	width: 80%;
	height: 10em;
}

.description {
	width: 80%;
	height: 20em;
}

.verification {
	display: table;
	border: #fff0e0 thick solid;
	background-color: #fffdfb;
	padding: 0.4em;
	margin: 0.3em;
}

#personal {
	background-color: #fff0f0;
	border: #ffc0c0 thin solid;
	padding: 0.3em;
}

/* Buttons */

button {
	vertical-align: middle;
	border: none;
	background-color: #a85540;
	color: #ffffff;
	border-radius: 0.5em;
	margin: 0.2em;
	padding: 0.5em 1em;
	font-size: 0.85em;
}

button:disabled, .button:disabled {
	background-color: #a87580;
	color: #cccccc;
}

button:hover:enabled, .button:hover:enabled {
	background-color: #e87560;
	cursor: pointer;
}

button:focus, .button:focus {
	background-color: #883520;
}

.buttonlogo {
	max-width: 1em;
	max-height: 1em;
	vertical-align: middle;
}

/* Editor */

.CodeMirror {
	border: #888 solid thin;
	min-height: 3em;
	height: auto;
	margin: 0.1em 0;
	/*
	max-width: 100%;
	width: 100%;
	*/
}

.code {
	display: inline-block;
	max-width: 50%;
	border: #888 solid thin;
	background-color: white;
	tab-size : 4;
	vertical-align: top;
}

.panel {
	border: #888 solid thin;
	border-bottom: none;
	background: #f7f7f7;
	padding: 3px 7px;
	font-size: 0.85em;
}

