<!DOCTYPE html>
<html lang="en">
	<head>
		<title>challengerco.de</title>
	</head>
	<body>
		<h1>challengerco.de</h1>
		<p>Challenge yourself!</p>
		<p>
			Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
		</p>
		<h2>Challenges</h2>
		<p>
			Go through them in order of difficulty or by category.
		</p>
		<% for (const challenge of challenges) { %>
			<h3><%= challenge.name %></h3>
			<p>
				<a href="/challenge/<%= challenge.id %>/view">View</a> or
				<a href="/challenge/<%= challenge.id %>/run">run</a> the challenge.
			</p>
		<% } %>
		<h2>Acknowledgements</h2>
		<p>
			See <a href="https://github.com/alexfernandez/challenger-code/graphs/contributors">contributors</a>.
		</p>
  </body>
</html>
