<div class="bottombar">
<div class="license">
	Published under the <a href="https://github.com/alexfernandez/challenger-code/blob/master/LICENSE">GPLv3 license</a>
</div>
<div class="repo">
	Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
</div>
</div>
