<div class="bar columns3">
<div class="license">
	Published under the <a href="https://github.com/alexfernandez/challenger-code/blob/master/LICENSE">GPLv3 license</a>
</div>
<div class="libre-counter">
	<a href="https://librecounter.org/challengerco.de/show">
		<img src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" width="64px">
	</a>
</div>
<div class="repo">
	<a href="https://github.com/alexfernandez/challenger-code">Fork challenger-code</a>.
	<a href="https://github.com/alexfernandez/challenger-code/issues">Issues?</a>
</div>
</div>
