<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>Edit challenge - challengerco.de</title>
		<script src="/js/edit-challenge.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1>Edit challenge</h1>
			<%- include('challenge-fields.ejs') %>
			<p>
			<button>Save</button>
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
