<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>challengerco.de</title>
		<script src="/js/home.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<%- include('list-challenges.ejs') %>
			<h2>Acknowledgements</h2>
			<p>
			See <a href="https://github.com/alexfernandez/challenger-code/graphs/contributors">contributors</a>.
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
