<!DOCTYPE html>
<html lang="en">
	<head>
		<title>challengerco.de</title>
		<link href="/img/logo.png" rel="shortcut icon"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
<%- include('login.ejs') %>
		<p>
			Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
		</p>
		<h1>Challenges</h1>
		<p>
			Go through them in order of difficulty or by category.
		</p>
		<% for (const challenge of challenges) { %>
			<h2><%= challenge.name %></h2>
			<p>
				<a href="/challenge/<%= challenge.id %>/view">View</a> or
				<a href="/challenge/<%= challenge.id %>/run">run</a> the challenge.
			</p>
		<% } %>
		<h2>Acknowledgements</h2>
		<p>
			See <a href="https://github.com/alexfernandez/challenger-code/graphs/contributors">contributors</a>.
		</p>
  </body>
</html>
