<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>Settings - challengerco.de</title>
		<script src="/js/settings.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1>Settings</h1>
			<p>
			Here you will be able to change settings.
			But not yet.
			</p>
			<button id="logout">Log out</button>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
