<div class="bar columns">
	<div>
	<a href="/"><img class="logo" src="/img/logo.png" /></a>
	<strong>challengerco.de</strong> — challenge yourself [BETA]
	</div>
	<div class="user">
		<span id="register">
			<a href="/login">Login</a>
			-
			<a href="/signup">Sign up</a>

		</span>
		<span id="loggedin" class="invisible">
			Logged in as <span id="currentUsername">Mr X</span>
		</span>
	</div>
</div>

