<div class="topbar">
	<div>
	<a href="/"><img class="logo" src="/img/logo.png" /></a>
	<strong>challengerco.de</strong> — challenge yourself
	</div>
	<div class="user">
		<span id="register">
			<a href="/login">Login</a>
			-
			<a href="/signup">Sign up</a>

		</span>
		<span id="loggedin" class="invisible">
			Logged in as <span id="useremail">x@test.com</span>
		</span>
	</div>
</div>
<script>
	const json = localStorage.getItem('token')
	if (json) {
		const token = JSON.parse(json)
		if (token && token.email) {
			document.getElementById('register').className = 'invisible'
				document.getElementById('useremail').innerText = token.email
				document.getElementById('loggedin').className = ''
		}
	}
	document.url = '/'
</script>

