<div class="topbar">
	<div>
	<a href="/"><img class="logo" src="/img/logo.png" /></a>
	<strong>challengerco.de</strong> — challenge yourself
	</div>
	<div class="user">
		<span id="register">
			<a href="/login">Login</a>
			-
			<a href="/signup">Sign up</a>

		</span>
		<span id="loggedin" class="invisible">
			Logged in as <span id="useremail">x@test.com</span>
		</span>
	</div>
</div>
<script>
	const token = localStorage.getItem('token')
	if (token) {
		document.getElementById('register').setClass('invisible')
		document.getElementById('useremail').innerText = token.email
		document.getElementById('loggedin').setClass('')
	}
	document.url = '/'
</script>

