<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= challenge.id %> - challengerco.de</title>
		<script src="/js/run-challenge.js"></script>
	</head>
	<body>
		<h1><%= challenge.name %></h1>
		<p>
		Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
		</p>
		<h2>The Challenge</h2>
		<p>
		<%= challenge.description %>
		</p>
		<h2>Ready for It?</h2>
		<p>
		<a href="/challenge/<%= challenge.id %>/run">Run the challenge!</a>
		</p>
		<h2>Home</h2>
		<p>
		Not ready yet? <a href="/">Go back</a>
		</p>
  </body>
</html>
